.bg-circle {
  z-index: 0;
  position: absolute;
  border-radius: 100%;
  /* background: linear-gradient(0deg, #ee0979 0%, #ff6a00 100%); */
  


}

.bg-circle-1 {
  height: 90rem;
  width: 90rem;
  bottom: -55rem;
  left: -55rem;
}
.bg-circle-2 {
  height: 50rem;
  width: 50rem;
  top: -25rem;
  right: -25rem;
}
.bg-circle-3 {
  height: 20rem;
  width: 20rem;
  bottom: -10rem;
  right: 5%;
}
.bg-circle-4 {
  height: 30rem;
  width: 30rem;
  top: -5rem;
  right: 35%;
}


.circulo1{
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,113,253,0.07335434173669464) 50%, rgba(252,176,69,1) 100%); */
 /* opacity: 40%; */
 background: rgb(245,245,250);
background: linear-gradient(90deg, rgba(245,245,250,0.006127450980392135) 0%, rgba(82,53,20,1) 48%, rgba(160,145,131,0.1601890756302521) 73%, rgba(245,245,250,1) 100%);
}

.circulo2{
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,113,253,0.4739145658263305) 50%, rgba(252,176,69,1) 100%); */
  background: rgb(245,245,250);
background: linear-gradient(90deg, rgba(245,245,250,0.006127450980392135) 0%, rgba(82,53,20,1) 48%, rgba(160,145,131,0.1601890756302521) 73%, rgba(245,245,250,1) 100%);
}
.circulo3{
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,113,253,0.4739145658263305) 50%, rgba(252,176,69,1) 100%); */
  background: rgb(245,245,250);
background: linear-gradient(90deg, rgba(245,245,250,0.006127450980392135) 0%, rgba(82,53,20,1) 48%, rgba(160,145,131,0.1601890756302521) 73%, rgba(245,245,250,1) 100%);
}
.circulo4{
  /* background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(29,113,253,0.4739145658263305) 50%, rgba(252,176,69,1) 100%); */
  background: rgb(245,245,250);
  background: linear-gradient(90deg, rgba(245,245,250,0.006127450980392135) 0%, rgba(82,53,20,1) 48%, rgba(160,145,131,0.1601890756302521) 73%, rgba(245,245,250,1) 100%);
}



