
.layoute{ 
  background-color: rgba(215, 215, 250, 0.816);
  box-shadow: 10px 10px 0px rgba(0, 0, 0, 0.3);
  align-items: center;
  text-align: center;
}

.botones{
  background-image: url('../../images/nuestrahistoria.jpg');
  text-align: center;
  padding: 1em;
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  gap: 2em;
  
  
}

.cajatitulo{
  text-align: center;
  padding-top: 2em;
}

@media  (max-width: 400px) {
 .botones{
  background-image: url('../../images/Fuentepequeña.jpg');
 }
} 

.button{
  margin: 0; 
  padding: .5em; 
  border-radius: 8px; 
  background-color: rgb(49, 49, 85);
  color: #cdcbc6; 
  border: 3px solid #282110;
  cursor: pointer;
  transition: background-color 0.3s ease; 
  box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
  width: 260px; 
  height: 60px; 
  text-decoration: none;

} 
.button:hover{
  background-color: #E3E2D6;
  color: #282110;
}
