

footer{
  background-color: black;
  color: #fff4db;
}
.footerfoto{
  text-align: right;
  margin-right: 1em;
  
}
.a{
  margin: 2em;
  color: #A59A80;
}
.ai{
  color: #A59A80;
}

@media  (max-width: 400px) {
  footer{
    margin: auto;
    padding: 1em;
  }
  .a{
    margin: 0.5em;
  }
 
} 