:root {
  --border-radius: 4px;
  --color-text: #333;
  --color-primary: #7026b9;
  --color-code-bg: #fff4db;
  --color-code: #8a6534;
  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial,
    sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-mono: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
    "Courier New", monospace;
  --font-lg: 18px;
  --font-md: 16px;
  --font-sm: 14px;
  --font-sx: 12px;
  --line-height-loose: 1.75;
  --line-height-normal: 1.5;
  --line-height-dense: 1.1;
  --space-1: 4px;
  --space-2: 8px;
  --space-3: 16px;
  --space-4: 24px;
  --space-5: 32px;
  --space-6: 64px;
  --size-content: 54rem;
  --size-gutter: var(--space-5);
  --size-gap: var(--space-6);
}
html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  font: sans-serif;
  font-size: var(--font-md);
  line-height: var(--line-height-normal);
  overflow-y: scroll;
}
body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  color: var(--color-text);
  font-family: sans-serif;
  font-family: var(--font-sans);
  font-weight: normal;
  margin: 0;
  word-wrap: break-word;
  /* background-image: url('../images/Fuentee.jpg'); */
  background: linear-gradient(0deg, rgba(235,213,185,1) 0%, rgba(197,199,221,1) 100%);
  background-repeat: no-repeat;
  background-size:cover;

}

a {
  background-color: transparent;
  color: var(--color-primary);
  text-decoration: none;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-thickness: 1.5px;
  text-underline-offset: 2px;
}
a:active,
a:hover {
  outline-width: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
  text-decoration: none;
}
b,
strong {
  font-weight: inherit;
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
h1 {
  margin: 0;
  margin-bottom: 3rem;
  padding: 0;
  line-height: var(--line-height-dense);
  letter-spacing: -0.01em;
}
h1 > b {
  color: var(--color-primary);
}
img {
  border-style: none;
  max-width: 100%;
}
code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
  font-size: 1em;
  line-height: inherit;
}
hr {
  box-sizing: content-box;
  overflow: hidden;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  padding: 0;
  margin-bottom: calc(var(--space-4) - 1px);
  background: hsla(0, 0%, 0%, 0.2);
  border: none;
  height: 2px;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}
hgroup,
img,
figure,
fieldset,
ul,
ol,
dl,
dd,
p {
  margin: 0;
  padding: 0;
  margin-bottom: var(--space-4);
}
ul,
ol {
  margin-left: var(--space-4);
  list-style-position: outside;
  list-style-image: none;
}
pre {
  margin-left: 0;
  margin-right: 0;
  margin-top: 0;
  margin-bottom: var(--space-4);
  font-size: 0.875rem;
  line-height: var(--line-height-normal);
  background: hsla(0, 0%, 0%, 0.04);
  border-radius: var(--border-radius);
  overflow: auto;
  word-wrap: normal;
  padding: var(--space-4);
}
b,
strong,
dt,
th {
  font-weight: bold;
}
li {
  margin-bottom: calc(var(--space-4) / 2);
}
ol li,
ul li {
  padding-left: 0;
}
li > ol,
li > ul {
  margin-bottom: calc(var(--space-4) / 2);
  margin-left: var(--space-4);
  margin-top: calc(var(--space-4) / 2);
}
blockquote *:last-child {
  margin-bottom: 0;
}
li *:last-child {
  margin-bottom: 0;
}
p *:last-child {
  margin-bottom: 0;
}
li > p {
  margin-bottom: calc(var(--space-4) / 2);
}
p {
  max-width: 680px;
}
code {
  font-size: 0.875rem;
}
kbd {
  font-size: 0.875rem;
}
samp {
  font-size: 0.875rem;
}
abbr {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
acronym {
  border-bottom: 1px dotted hsla(0, 0%, 0%, 0.5);
  cursor: help;
}
tt,
code {
  background-color: var(--color-code-bg);
  border-radius: var(--border-radius);
  color: var(--color-code);
  font-family: var(--font-mono);
  padding-bottom: 0.25em;
  padding-top: 0.25em;
  word-break: normal;
}
pre code {
  background: none;
}
code:before,
code:after,
tt:before,
tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}
pre code:before,
pre code:after,
pre tt:before,
pre tt:after {
  content: none;
}
/* ------------------------------------------------------------------------ */
.infoinst{
  background-color: antiquewhite;
  padding: 2em;
}
.qrinicio{
  background-color: rgba(215, 215, 250, 0.816);
  padding: 1em;
  align-items: center;
  text-align: center;
  margin: 2em;
  border: 3px solid #43381b;
  box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}
.qrarchivo{
  background-color: antiquewhite;
  padding: 1em;
  align-items: center;
  text-align: center;
  margin: 2em;
  border: 3px solid #43381b;
  box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 1em;
}

header{
  background-color:white;
  height: 70px;
  width: 100%;
  /* position: fixed;
  z-index: 3; */
  
}
.crearr{
  background-color: antiquewhite;
  padding: 2em;
  border: 3px solid #43381b;
  box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
  border-radius: 8px;
}

.button-collapse{
  margin: 1em!important; 
  padding: .5em!important; 
  border-radius: 8px!important; 
  background-color:#15316a!important; 
  color: antiquewhite!important; 
  border: 3px solid #43381b!important;
  text-decoration: none!important;
  text-align: center!important;
}

.button-collapse:hover{
  background-color: black!important;
  color: white!important;
}

.tex-center{
  text-align: center;
}

.generar-qr{
  background-color: antiquewhite;
  height: 600px;
  margin: 2em;
  padding: 2em;
}
.qr-contenido{
  background-color: #a99898;
  color: white;
  margin: 2em;
  padding: 1em;
  align-items: center;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  
}
.button22{
  margin: 1em; 
  padding: .5em; 
  border-radius: 8px; 
  background-color: #a99898; 
  color: #000000; 
  border: 3px solid #43381b;
  text-decoration: none;
  text-align: center;
}
.button22:hover{
  background-color: black;
  color: white;
}
.accordion-header{
  background-color: #97814a;
  
}
.qr-generador{
border: 3px solid #43381b;
box-shadow:  5px 5px rgba(0, 0, 0, 0.3);
border-radius: 1em;
}

.button23{
  margin: 1em; 
  padding: 0.5em; 
  border-radius: 8px; 
  background-color: #3a1d09; 
  color: #d5d1d1; 
  border: 3px solid #43381b;
  text-decoration: none;
  text-align: center;
  font-size: medium;
}
.button23:hover{
  background-color: black;
  color: white;
}

input[type="radio"] {
  width: 20px; /* Adjust as needed */
  height: 20px; /* Adjust as needed */
  border-radius: 50%; /* Create a circular shape */
  margin-right: 10px; /* Add spacing between radio buttons */
}
.pdescarga{
  
  text-align: center;
}
/* ///////////////////////////////////////////// */


/* ////////////////////////////////////////7 */
.white{
  background-color:  rgba(235, 213, 185, 0.325);
  padding-bottom: 1em;
  margin: 1em;
  border-radius: 10px;
  border: 3px solid #43381b;
}
.collapsi{
  text-align: left;
}
/* input[type="text"] {
  width: 200px; 
  height: 50px; 
  
} */

/* //////////////////////// */
.compartir-container {
  text-align: center;
  margin: 20px auto;
}
.compartir-header {
  margin-bottom: 10px;
}
.compartir-icons {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.compartir-icons > * {
  margin: 0 5px;
}

.modales{
  display: flex!important;
  flex-direction: column !important;
  align-items: center!important;
}

.icono{
  font-size: 15px;
}
.divcollapse{
  text-align: center;
  align-items: center;
}

.aform{
 color: #bc90d7;
}
.buform{
  background-color: #d3addd;
}

.inputtabs{
  width: 200px!important;
  height: 60px!important;
}
.gr{
  width: 95%;
}

/* //////////////////////////////// */
.headerperfil{
  float: right;
}

/* ////////////////////// */
td {
  padding: 10px; /* Add padding around cell content */
  border: 1px solid #ddd; /* Add a thin border to each cell */
}
.tablaqr{
  background-color:#a99898 ;

}

/* ////////////////////////////////////// */
table {
  width: 100%; /* Ancho de la tabla */
  border-collapse: collapse; /* Une los bordes de las celdas */
  margin: 20px auto; /* Margen alrededor de la tabla */
}

caption {
  text-align: center; /* Alinea el título de la tabla al centro */
  font-weight: bold; /* Hace que el título de la tabla sea más grueso */
}

th, td {
  padding: 8px; /* Espacio de relleno dentro de las celdas */
  border: 1px solid #ddd; /* Borde gris claro para las celdas */
}

th {
  background-color: #f0f0f0; /* Color de fondo gris claro para las celdas de encabezado */
}

tr:nth-child(odd) {
  background-color: #fff; /* Color de fondo blanco para filas impares */
}
/* ////////////card//////////////7 */
.card {
  width: 300px; /* Ajusta el ancho según tus necesidades */
  margin: 20px auto; /* Centra la tarjeta horizontalmente y agrega margen */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra sutil */
  border-radius: 5px; /* Bordes redondeados */
}

.card-header {
  padding: 15px;
  background-color: #f0f0f0; /* Color de fondo del encabezado */
  border-bottom: 1px solid #ddd;
}

.card-header h2 {
  margin: 0; /* Elimina el margen superior por defecto */
}

.card-body {
  padding: 15px;
}

.card-footer {
  padding: 10px;
  background-color: #fff; /* Color de fondo del pie de página */
  border-top: 1px solid #ddd;
  text-align: right; /* Alinea los botones a la derecha */
}

.card-footer a {
  margin-left: 5px; /* Espacio entre botones */
}

.btn {
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.btn-primary {
  background-color: #007bff;
  color: #fff;
}

.btn-secondary {
  background-color: #6c757d;
  color: #fff;
}

.btn:hover {
  background-color: #333; /* Color de fondo al pasar el mouse sobre el botón */
}

/* /////////////////////////7 */
li{
  list-style-type: none;
}
